body {
  background-color: #A89D9D;
}

header {
  color: #2DB7B7;
  background-image: linear-gradient(rgba(34, 151, 195, 1), rgba(5, 0, 166, 1));
  margin-top: 0;
  display: block;
  grid-column: span 12;
}

header:hover {
  background-image: linear-gradient(rgba(5, 0, 166, 1), rgba(34, 151, 195, 1));
  display: block;
}

h1 {
  color: #2DB7B7;
  padding: 15px;
  padding-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 0;
  font-family: arial, verdana, sans-serif;
  font-style: italic;
  font-size: 30px;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
}

h2 {
  color: #0000FF;
  border-bottom: 5px solid blue;
  padding-right: 25px;
  padding-bottom: 5px;
  margin-left: 25px;
  margin-bottom: 10px;
  font-family: arial, verdana, sans-serif;
  text-align: left;
  text-decoration: none;
}

.textjustify {
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 0;
  text-align: justify;
  font-weight: bold;
}

.spanstyle {
  color: #FF0000;
  font-family: arial, verdana, sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

.spanstyle2 {
  clear: both;
  color: #FF0000;
  font-family: arial, verdana, sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

a {
 color: #2DB7B7;
 text-decoration: none;
}

a:link {
 color: #2DB7B7;
}

a:visited {
 color: #000000;
}

a:active {
 color: #FF0000;
}

a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

#wrapper {
  margin: 1em auto;
  padding-top: 0;
  width: 960px;
  border: 5px solid blue;
  background-color: #FFFFFF;
  display: grid;
}

nav {
  background-color: #0500A6;
  background-image: linear-gradient(rgba(34, 151, 195, 1), rgba(5, 0, 166, 1));
  font-size: 20px;
  font-weight: bold;
  grid-column: span 12;
}

nav ul {
  color: #2DB7B7;
  list-style-type: none;
  margin-top: 0;
  margin-left: 0;
  padding: 0;
}

nav li {
  color: #2DB7B7;
  background-image: linear-gradient(rgba(34, 151, 195, 1), rgba(5, 0, 166, 1));
  border-right: 5px solid blue;
  float: left;
  padding: 0;
  margin: 0 0 0 5px;
  width: 210px;
}

nav li a {
  color: #2DB7B7;
  display: block;
  padding: 10px;
  background-image: linear-gradient(rgba(34, 151, 195, 1), rgba(5, 0, 166, 1));
  text-decoration: none;
}

nav li a:hover {
  background-image: linear-gradient(rgba(5, 0, 166, 1), rgba(34, 151, 195, 1));
}

nav li a:link {
 color: #FFFFFF;
}

.floatimage {
  float: left;
  border: 5px solid blue;
  padding: 0;
  margin: 20px;
  margin-top: 8px;
  margin-left: 25px;
}

.floatimage2 {
  float: right;
  border: 5px solid blue;
  padding: 0;
  margin: 10px;
}

.floatimage3 {
  border: 5px solid blue;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 2px;
  margin-left: 25px;
}

main {
  padding-right: 25px;
  padding-bottom: 20px;
  grid-column: span 12;
}

p {
  padding-left: 23px;
}

footer {
  color: #FFFFFF;
  background-color: #FF0000;
  border-top: 5px solid blue;
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  grid-column: span 12;
}
